bin
include
lib
libexec
mips64-elf
share
*-linux-gnu
tarballs

binutils-*
gcc-*
gcc_compile
newlib*

*.a
*.bin
*.d
*.elf
*.map
*.o
*.obj
*.rsppch
*.tsk
*.z64
*.gz
*.xz

/*/filesystem.h
*.swp

# macOS Garbage
.DS_Store
._*
*.deb
!*.patch